<div class="container">
  <% if current_user&.trust_level == "red" %>
    <div class="text-primary bg-red-500/10 border-2 border-red-500/20 p-4 text-center rounded-lg mb-4">
      <div class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M8 14.5a6.5 6.5 0 1 0 0-13a6.5 6.5 0 0 0 0 13M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m1-5a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-.25-6.25a.75.75 0 0 0-1.5 0v3.5a.75.75 0 0 0 1.5 0z" clip-rule="evenodd" /></svg>
        <span class="text-3xl font-bold block ml-2">Hold up! Your account has been banned for suspicious activity.</span>
      </div>
      <div>
        <p class="text-primary text-left text-lg mb-2"><b>What does this mean?</b> Your account was convicted for fraud or abuse of Hackatime, such as using methods to gain an unfair advantage on the leaderboards or attempting to manipulate your coding time in any way. This restricts your access to participate in public leaderboards, but Hackatime will still track and display your time. This may also affect your ability to participate in current and future Hack Club events.</p>
        <p class="text-primary text-left text-lg mb-2"><b>What can I do?</b> Account bans are non-negotiable, and will not be removed unless determined to have been issued incorrectly. In that case, it will automatically be removed. We take fraud very seriously and have a zero-tolerance policy for abuse. If you believe this was a mistake, please DM the <a href="https://hackclub.slack.com/team/U091HC53CE8" target="_blank" class="underline">Fraud Department</a> on Slack. We do not respond in any other channel.</p>
        <p class="text-primary text-left text-lg mb-0"><b>Can I know what caused this?</b> No. We do not disclose the patterns that were detected. Releasing this information would only benefit fraudsters. The fraud team regularly investigates claims of false bans to increase the effectiveness of our detection systems to combat fraud.</p>
      </div>
    </div>
  <% end %>
  <div class="flex items-center space-x-2 mt-2">
    <p class="italic text-gray-400 m-0">
      <%= @flavor_text %>
    </p>
  </div>
  <h1 class="font-bold mt-1 mb-1 text-5xl">
    <% if current_user %>
      Keep Track of <span class="text-primary">Your</span> Coding Time
    <% else %>
      Free Coding Time Tracker - See How Much You <span class="text-primary">Code</span>
    <% end %>
  </h1>
  <p class="font-thin italic text-gray-400">
    <%= @usage_social_proof&.downcase %>
  </p>
  <% unless current_user %>
    <p class="text-xl mt-2">
      See which programming languages you use most and how productive you are. Free and works with over <%= link_to "75 code editors", docs_path + "#supported-editors" %>!
    </p>

    <% if @home_stats&.[](:seconds_tracked) && @home_stats&.[](:users_tracked) %>
      <div>
        <h2 class="text-3xl my-2">
          Already tracking <span class="text-primary"><%= number_with_delimiter(@home_stats[:seconds_tracked] / 3600) %> <%= 'hour'.pluralize(@home_stats[:seconds_tracked] / 3600) %></span>
          of coding across <span class="text-primary"><%= number_with_delimiter(@home_stats[:users_tracked]) %> <%= 'high schooler'.pluralize(@home_stats[:users_tracked]) %></span>
          since <span class="text-primary">2025</span>.
        </h2>
      </div>

      <div class="my-8">
        <ul class="text-xl list-none p-0 space-y-2">
          <li class="flex items-center gap-2">
            <svg class="w-6 h-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <strong>100% Free</strong>
          </li>

          <li class="flex items-center gap-2">
            <svg class="w-6 h-6 text-red-500" viewBox="0 0 16 16" fill="currentColor">
              <path d="M16 1H12V15H16V1Z"/>
              <path d="M6 5H10V15H6V5Z"/>
              <path d="M0 9H4V15H0V9Z"/>
            </svg>
            <strong>75+ Editors</strong> - Works with
            <%= link_to "VS Code", doc_path("editors/vs-code") %>,
            <%= link_to "Vim", doc_path("editors/vim") %>,
            <%= link_to "Sublime", doc_path("editors/sublime-text") %> and
            <%= link_to "more", docs_path + "#supported-editors" %>
          </li>

          <li class="flex items-center gap-2">
            <svg class="w-6 h-6 text-red-500" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.1,10.9c-0.4-0.4-1-0.4-1.4,0L12,11.6l-0.7-0.7c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l0.7,0.7l-0.7,0.7c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l0.7-0.7l0.7,0.7c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L13.4,13l0.7-0.7C14.5,11.9,14.5,11.3,14.1,10.9z"/>
              <path d="M19.6,10.6c-0.3-0.7-0.7-1.4-1.3-1.9c-1-1-2.4-1.6-3.9-1.6c-0.2,0-0.5,0-0.7,0c-0.1-0.2-0.3-0.3-0.4-0.4C12.4,5.6,11,5,9.5,5S6.6,5.6,5.6,6.6C4.6,7.6,4,9,4,10.5c0,0.1,0,0.2,0,0.3c-0.2,0.2-0.5,0.3-0.7,0.6c-0.9,0.8-1.3,2-1.3,3.2C2,17,4,19,6.5,19h11c1.2,0,2.3-0.5,3.2-1.3c0.9-0.8,1.3-2,1.3-3.2C22,12.8,21.1,11.3,19.6,10.6z M19.3,16.3c-0.5,0.5-1.1,0.7-1.8,0.7h-11C5.1,17,4,15.9,4,14.5c0-0.7,0.3-1.3,0.7-1.8c0.2-0.2,0.5-0.4,0.7-0.5c0.4-0.2,0.7-0.6,0.6-1.1C6,10.9,6,10.7,6,10.5C6,9.6,6.4,8.7,7,8c0.7-0.7,1.5-1,2.5-1s1.8,0.4,2.5,1c0.2,0.2,0.4,0.4,0.5,0.7c0.2,0.4,0.7,0.5,1.1,0.4C13.9,9,14.2,9,14.5,9c0.9,0,1.8,0.4,2.5,1c0.4,0.4,0.7,0.9,0.9,1.5c0.1,0.3,0.3,0.5,0.6,0.7c0.9,0.4,1.5,1.3,1.5,2.3C20,15.2,19.7,15.8,19.3,16.3z"/>
            </svg>
            <strong>Works Offline</strong>
          </li>

          <li class="flex items-center gap-2">
            <svg class="w-6 h-6 text-red-500" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.25 10.0546V8C5.25 4.27208 8.27208 1.25 12 1.25C15.7279 1.25 18.75 4.27208 18.75 8V10.0546C19.8648 10.1379 20.5907 10.348 21.1213 10.8787C22 11.7574 22 13.1716 22 16C22 18.8284 22 20.2426 21.1213 21.1213C20.2426 22 18.8284 22 16 22H8C5.17157 22 3.75736 22 2.87868 21.1213C2 20.2426 2 18.8284 2 16C2 13.1716 2 11.7574 2.87868 10.8787C3.40931 10.348 4.13525 10.1379 5.25 10.0546ZM6.75 8C6.75 5.10051 9.10051 2.75 12 2.75C14.8995 2.75 17.25 5.10051 17.25 8V10.0036C16.867 10 16.4515 10 16 10H8C7.54849 10 7.13301 10 6.75 10.0036V8ZM14 16C14 17.1046 13.1046 18 12 18C10.8954 18 10 17.1046 10 16C10 14.8954 10.8954 14 12 14C13.1046 14 14 14.8954 14 16Z"/>
            </svg>
            <strong>Privacy First</strong> - Your data stays safe
          </li>


          <li class="flex items-center gap-2">
            <svg class="w-6 h-6 text-red-500" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.261 1.03462C12.6971 1.15253 13 1.54819 13 1.99997V8.99997H19C19.3581 8.99997 19.6888 9.19141 19.8671 9.50191C20.0455 9.8124 20.0442 10.1945 19.8638 10.5038L12.8638 22.5038C12.6361 22.8941 12.1751 23.0832 11.739 22.9653C11.3029 22.8474 11 22.4517 11 22V15H5C4.64193 15 4.3112 14.8085 4.13286 14.498C3.95452 14.1875 3.9558 13.8054 4.13622 13.4961L11.1362 1.4961C11.3639 1.10586 11.8249 0.916719 12.261 1.03462Z"/>
            </svg>
            <strong>Real-time Stats</strong> - See your coding time instantly
          </li>

          <li class="flex items-center gap-2">
            <svg class="w-6 h-6 text-red-500" viewBox="0 0 1920 1920" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M357.542 0H1562.46V119.181H1920V542.868C1920 655.236 1875.36 763.003 1795.91 842.46C1731.12 907.242 1647.52 948.879 1557.95 962.049C1544.78 1051.62 1503.15 1135.22 1438.36 1200C1360.45 1277.91 1255.32 1322.35 1145.33 1324.05V1496.31C1145.33 1510.38 1150.91 1523.87 1160.86 1533.81C1170.81 1543.76 1184.3 1549.35 1198.36 1549.35C1263.32 1549.35 1325.61 1575.15 1371.54 1621.08C1417.47 1667.01 1443.28 1729.31 1443.28 1794.26V1920H476.723V1794.26C476.723 1729.31 502.528 1667.01 548.458 1621.08C594.388 1575.15 656.682 1549.35 721.639 1549.35C735.705 1549.35 749.195 1543.76 759.14 1533.81C769.086 1523.87 774.674 1510.38 774.674 1496.31V1324.05C664.677 1322.35 559.547 1277.91 481.637 1200C416.854 1135.22 375.218 1051.62 362.048 962.049C272.477 948.879 188.877 907.242 124.095 842.46C44.6379 763.003 0 655.236 0 542.868V119.181H357.542V0ZM357.542 251.471H132.29V542.868C132.29 620.151 162.991 694.269 217.638 748.917C256.412 787.69 304.988 814.409 357.542 826.659V251.471ZM1562.46 826.659V251.471H1787.71V542.868C1787.71 620.151 1757.01 694.269 1702.36 748.917C1663.59 787.69 1615.01 814.409 1562.46 826.659ZM959.198 320L1034.59 564.21H1280L1081.1 715.79L1159.7 960L960.801 808.422L761.906 960L838.898 714.104L640 562.527H885.413L959.198 320Z"/>
            </svg>
            <strong>Leaderboards</strong> - Compare with other high schoolers
          </li>

        </ul>
     </div>

    <% end %>
  <% end %>
  <% if current_user %>
    <% if @show_wakatime_setup_notice %>
      <div class="text-left my-8 flex flex-col">
        <p class="mb-4 text-xl text-primary">
          Hello friend! Looks like you are new around here, let's get you set up so you can start tracking your coding time.
        </p>
        <%= link_to "Let's setup Hackatime! Click me :D", my_wakatime_setup_path, class: "inline-block w-auto text-3xl font-bold px-8 py-4 bg-primary text-white rounded shadow-md hover:shadow-lg hover:-translate-y-1 transition-all duration-300 animate-pulse" %>
        <div class="flex items-center mt-4 flex-nowrap">
          <% if @ssp_users_recent&.any? %>
            <div class="flex m-0 ml-0 flex-shrink-0">
              <% @ssp_users_recent.each_with_index do |user, index| %>
                <div class="relative cursor-pointer transition-transform duration-200 hover:-translate-y-1 hover:z-10 group <%= index > 0 ? '-ml-4' : '' %>">
                  <div class="absolute -top-9 left-1/2 transform -translate-x-1/2 bg-gray-800 text-white px-2 py-1 rounded text-xs whitespace-nowrap opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-20">
                    <%= h(user[:display_name]) %>
                    <div class="absolute top-full left-1/2 -ml-1 border-l-2 border-r-2 border-t-2 border-transparent border-t-gray-800"></div>
                  </div>
                  <img src="<%= user[:avatar_url] %>" alt="<%= h(user[:display_name]) %>" class="w-10 h-10 rounded-full border-2 border-primary object-cover shadow-sm">
                </div>
              <% end %>
              <% if @ssp_users_size && @ssp_users_size > 5 %>
                <div class="relative cursor-pointer transition-transform duration-200 hover:-translate-y-1 hover:z-10 group -ml-4" title="See all <%= @ssp_users_size %> users">
                  <div class="w-10 h-10 rounded-full border-2 border-primary bg-primary text-white font-bold text-sm flex items-center justify-center shadow-sm">+<%= @ssp_users_size - 5 %></div>
                  <div class="absolute left-[-20px] top-11 bg-gray-800 rounded-lg shadow-xl p-4 w-80 z-50 max-h-96 overflow-y-auto opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
                    <h4 class="mt-0 mb-2 text-base text-gray-200 border-b border-gray-600 pb-2">All users who set up Hackatime</h4>
                    <div class="flex flex-col gap-2">
                      <% @ssp_users_recent.each do |user| %>
                        <div class="flex items-center p-1 rounded hover:bg-gray-700 transition-colors duration-200">
                          <img src="<%= user[:avatar_url] %>" alt="<%= h(user[:display_name]) %>" class="w-8 h-8 rounded-full mr-2 border border-primary">
                          <span class="font-medium text-sm"><%= h(user[:display_name]) %></span>
                        </div>
                      <% end %>
                    </div>
                    <div class="absolute -top-2 left-8 w-0 h-0 border-l-2 border-r-2 border-b-2 border-transparent border-b-gray-800"></div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if @ssp_message %>
            <p class="m-0 ml-2 italic text-gray-400"><%= @ssp_message %> (this is real data)</p>
          <% end %>
        </div>
      </div>
    <% end %>
    <p>
      <% if @show_logged_time_sentence %>
        You've logged
        <%= short_time_detailed @todays_duration %>
        <% if @todays_languages.any? || @todays_editors.any? %>
          across
          <% if @todays_languages.any? %>
            <% if @todays_languages.length >= 4 %>
              <%= @todays_languages[0..1].join(", ") %> <span title="<%= @todays_languages[2..].join(", ") %>">(& <%= pluralize(@todays_languages.length - 2, 'other language') %>)</span>
            <% else %>
              <%= @todays_languages.to_sentence %>
            <% end %>
          <% end %>
          <% if @todays_languages.any? && @todays_editors.any? %>
            using
          <% end %>
          <% if @todays_editors.any? %>
            <%= @todays_editors.to_sentence %>
          <% end %>
        <% end %>
      <% else %>
        No time logged today... but you can change that!
      <% end %>
    </p>
    <%= turbo_frame_tag "mini_leaderboard", src: mini_leaderboard_static_pages_path do %>
      <%= render "leaderboards/mini_leaderboard_loading" %>
    <% end %>
    <%= turbo_frame_tag "filterable_dashboard", src: filterable_dashboard_static_pages_path do %>
      <span>Loading...</span>
    <% end %>
    <%= turbo_frame_tag "activity_graph", src: activity_graph_static_pages_path do %>
      <span>Loading...</span>
    <% end %>
  <% else %>
    <% if @leaderboard %>
      <h3>Today's Top Hack Clubbers</h3>
      <%= render "leaderboards/mini_leaderboard", leaderboard: @leaderboard, current_user: nil %>
    <% end %>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 my-8 items-center">
      <div class="w-full relative pb-[56.25%] h-0 overflow-hidden">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eFVA_ZWnzDk?si=TcEVwiigFZh0Sp_Z&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="absolute top-0 left-0 w-full h-full rounded-lg"></iframe>
      </div>

      <div class="flex justify-center items-center">
        <div class="max-w-md mx-auto text-center w-full">
          <%= link_to "Sign in with Hack Club Slack", slack_auth_path, class: "inline-block px-6 py-3 rounded text-white font-bold cursor-pointer border-none w-full my-2 bg-primary" %>

          <div class="my-4 text-gray-300 relative">
            <span class="px-3">or</span>
            <div class="absolute top-1/2 left-0 w-[45%] h-px bg-gray-600"></div>
            <div class="absolute top-1/2 right-0 w-[45%] h-px bg-gray-600"></div>
          </div>

          <%= form_tag email_auth_path, class: "space-y-4", data: { turbo: false } do %>
            <div class="mb-4">
              <%= email_field_tag :email, nil, placeholder: "Enter your email", required: true, class: "w-full px-3 py-3 border border-gray-600 rounded text-base bg-gray-800 text-white" %>
            </div>
            <%= submit_tag "Send sign-in link", class: "inline-block px-6 py-3 rounded text-white font-medium cursor-pointer border-none w-full my-2 bg-blue-600", data: { disable_with: "Sending..." } %>
          <% end %>
          <% if params[:sign_in_email] %>
            <div class="text-green-500 mt-4">
              Check your email for a sign-in link!
            </div>
            <% dev_tool do %>
              Because you're on localhost, <%= link_to "click here to view the email", letter_opener_web_path %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
