<!DOCTYPE html>
<html class="<%= Rails.env == 'production' ? 'production' : 'development' %>" data-theme="<%= current_theme %>">
  <head>
    <title><%= @title %> - Hackatime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="color-scheme" content="<%= current_theme_color_scheme %>">
    <meta name="robots" content="noindex, nofollow">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png'), type: 'image/png' %>
    <%= stylesheet_link_tag :app %>
    <%= stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload' %>
  </head>

  <body class="bg-surface">
    <div class="flex min-h-screen items-center justify-center mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
